<header
  class="flex justify-between pt-10 px-12 md:max-w-240 m-auto lg:max-w-300"
>
  <img src="../images/Logo1.svg" alt="Logo" />
  <nav
    class="flex flex-col justify-around text-lg font-semibold items-start md:flex-row md:justify-between md:w-80 md:items-center lg:w-100"
  >
    <a class="h-fit" href="/">Home</a>
    <a class="h-fit" href="#projects">Projects</a>
    <a class="h-fit" href="#contact">Contact</a>
  </nav>
</header>
